body{
    background-color:#ffffff;
    margin: 0px;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;

}

header{
    background-color: #333333;
    height: 100vh;
    text-align: center;
    color: #ffffff;
    position: fixed;
}

h1{
   font-size: 3rem;
   margin: 0px;
   padding: 3.5rem;
   font-weight: 600;
   color: #ffffff;
}

.second{
    color: #333333;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

h1 span{
    font-weight: 200;
}

div{
    margin: auto;
}

.intro{
    margin-left: 12.5%;
    margin-right: 12.5%;
    
}

intro,q{
    font-size: 2rem;
    text-align: center;
}

.arrow{
    height: 17.5px;
    padding-top: 20rem;
}

section{
    min-height: 100vh;
    top: 100vh;
    position: relative;
    background-color: white;
}

nav{
    text-align: center;
}

ul{
    list-style: none;
    text-align: center;
    padding:0px;
}

li{
    display: inline;
    padding: 2rem;
}

a{
    text-decoration: none;
    color: #d9d9d9;
}

.main-image{
    text-align: center;
    padding: 0.5rem;
}

.about-text{
    
}

p{
    margin-left: 25%;
    margin-right: 25%;
}

.details{
    display:inherit;
    padding: 0px;
}

.contact{
    display: inline;
}

.oval, .contact, .contact-first, .contact-second{
    display: inline-block;
    vertical-align: top;
}

.oval{
    padding:1rem;
}

.contact{
    padding:1rem;
}

.contact-first{
    margin-right: 2em;
}

.contact-second{
    margin-left: 
}



.name{
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
}

.details{
    text-align: left;
}
.first-name{
    font-weight: 600;
}

.job-title{
    font-weight: 400;
}

.mobile{
    font-weight: 200;
}

.email{
    font-weight: 200;
}

.current-page{
    font-weight: 400;
    color: #333333;
}

a:hover{
    color: #333333;
}

@media screen and (max-width: 375px) {

    header{
        height:100vh;
        width: 375px;;
    }

    h1{
        text-align: center;
        padding: 1rem;
        font-size: 2rem;
    }

    intro,q{
        font-size: 1rem;
        text-align: center;
    }

    .main-image{
        width: 80%;
    }

    .contact-first{
        margin-right: 0;
    }

    p{
        margin: 10%;
        text-align: left;
        line-height: 1.5rem;
    }

        }

    